{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
    <meta name="robots" content="noindex">
{% endblock %}

{% block page_title %}DB Instances{% endblock %}

{% block page_content %}
    {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
        {% block box_title %}The following database instances are available{% endblock %}
        {% block box_body_class %}table-responsive no-padding{% endblock %}
        {% block box_body %}
            <table class="table hover">
                <thead>
                <tr><td>Instance</td><td>Vendor</td><td>Version</td><td>Manage</td></tr>
                </thead>
                <tbody>
                {% for instance, config in instances %}
                    {# @todo add prefilling of root username #}
                    <tr><td>{{ instance }}</td><td>{{ config.vendor }}</td><td>{{ config.version }}</td><td><a href="/admin/?server={{ instance }}" class="fa fa-toolbox"></a></td></tr>
                {% endfor %}
                </tbody>
            </table>
        {% endblock %}
    {% endembed %}
{% endblock %}
